asyncio
aiofiles
aiohttp
aiohttp-socks
aioshutil
anytree
apscheduler
aioaria2
aioqbt
beautifulsoup4
cloudscraper
curl_cffi
dnspython
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
niquests
langcodes
jinja2
lxml
lxml[html_clean]
language_data
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pyflared
pymongo
wzgram
warpcrypto
python-magic
pytz
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
